  <% if line_item == @current_item %>
  <tr class="line-item-highlight">
  <% else %>
    <tr>
    <% end %>
    <td><%= button_to('Decrement amount',
      "/carts/#{line_item.cart.id}/decrement_amount/#{line_item.id}", method: :put, remote: true) %></td>
    <td><%= link_to 'Delete', line_item_path(line_item), method: "delete" %></td>
    <td class="quantity"><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <td class="price"><%= toEuros(line_item.total_price) %></td>
  </tr>
